@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* for all start */
*{
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}
/* for all end */
body{
  background-color:#030B23;
}
/* header start */
.header{
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(3, 11, 35, 0),rgba(3, 11, 35, 1)),url(../images/back.PNG);
  background-position: center;
  background-size: cover;
  position: relative;
}
/* header end */

/* nav start */
nav{
  display: flex;
  padding: 2px 2%;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}
nav img{
  width: 72px;
}
.nav-links{
  flex: 1;
  text-align: right;
}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;

}
.nav-links ul li a{
  text-decoration: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #030B23;

}
.nav-links ul li a:hover{
  color: #0094E2;
}
/* nav end */

nav .fa{
  display: none;
}
/* toggle hide */

/* for responsive welcome text and show toggle start */
@media(max-width: 700px){
  .text-box h1{
      font-size: 20px;
  }
  .text-box p{
      font-size: 12px;
  }
  .nav-links ul li{
      display: block;
  }
  .nav-links{
      position: absolute;
      background: #fff;
      height: 100vh;
      width: 200px;
      top: 0;
      right: -200px;
      text-align: left;
      z-index: 2;
      transition: 1s;
  }
  nav .fa{
    display: block;
    color:black;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links ul{
      padding: 30px;
  }
}
/* for responsive welcome text and show toggle end */

/* Welcome start */
.text-box{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.text-box h1{
  font-size: 48px;
  font-weight: 600;
}
/* Welcome end */